*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Ubuntu;
    src: url('./fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Playwrite;
    src: url('./fonts/PlaywriteGBS-VariableFont_wght.ttf');
}

.top{
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(170deg, rgb(19, 146, 250), rgb(19, 146, 250) 50%, white 50%, white);
    /* background-color: rgb(19, 146, 250); */
}

.top-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    width: 100%;
    
}

.top-card{
    background-color:  #fff;
    border-top: .5px solid #e0e0e0;
    border-right: .5px solid #e0e0e0;
    border-bottom: .5px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.top-card>p{
    font-family: Ubuntu;
    color: #5f5f5f;
}

.top-image{
    background-image: url('./images/pexels-nappy-3602925.jpg');
    background-size: cover;
    color: white;
    display: flex;
}

.header{
    font-size: 32px;
    font-family: Playwrite;
}


.project-card{
    border: .5px solid #e0e0e0;
    width: 350px;
    height: 300px;
}

.mid-content{
    width: 100%;
}
/* Desktop */

@media screen and (min-width: 1000px){

    .top-image{
        min-width: 500px;
        min-height: 500px;
        align-items: end;
        justify-content: center;
        
    }
    
    .top-card{
        width: 800px;
        height: 350px;  
        padding: 8px;
        gap: 16px;
    }
    
    .image01{
        max-width: 500px;
    }
    
    .icons{
        display: flex;
        justify-content: end;
        gap: 16px;
        padding: 8px;
    }
    
    .icons>img{
        height: 50px;
        width: 50px;
    }

    .cards{
        display: grid;
        grid-template-columns: repeat(3, 400px);
        grid-template-rows: 75px, 300px, 300px;
        justify-content: center;
        gap: 8px;
    }

    .mid-header{
       grid-column: 1/4;
    }
    
    
}

/* Tablets */

@media screen and (min-width: 600px) and (max-width: 1000px){

    .top-image{
        min-width: 300px;
        min-height: 300px;
        justify-content: center;
        /* align-items: center; */
    }

    .top-card{
        width: 400px;
        min-height: 250px;
        margin-top: 150px;
        align-items: center;
        padding: 16px;
    }

    .top-card>text{
        text-align: justify;
    }

    .icons{
        display: none;
    }
    

}

/* Mobile */

@media screen and (max-width: 600px){
   .top-content{
        flex-direction: column;
   }

   .top{
        flex-direction: column;
   }

   .top-image{
        min-width: 400px;
        min-height: 500px;
        justify-content: center;
        align-items: end;
   }

   .top-card{
        border: none;
        max-width: 400px;
        min-height: 400px;
   }

   .icons{
        display: flex;
        justify-content: center;
        gap: 16px;
        padding: 8px;
    }

    .icons>img{
        height: 40px;
        width: 40px;
    }

    .card-header{
        display: flex;
        justify-content: center;
    }
}

