*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Ubuntu;
    src: url('./fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Playwrite;
    src: url('./fonts/PlaywriteGBS-VariableFont_wght.ttf');
}

.top{
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(170deg, rgb(19, 146, 250), rgb(19, 146, 250) 50%, white 50%, white);
    /* background-color: rgb(19, 146, 250); */
}

.top-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    width: 100%;
    
}

.top-card{
    background-color:  #fff;
    border-top: .5px solid #e0e0e0;
    border-right: .5px solid #e0e0e0;
    border-bottom: .5px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.top-image{
    background-image: url('./images/pexels-nappy-3602925.jpg');
    background-size: cover;
    color: white;
    display: flex;
}

.header{
    font-size: 32px;
    font-family: Playwrite;
}


@media screen and (min-width: 1000px){

    .top-image{
        min-width: 500px;
        min-height: 500px;
        align-items: end;
        justify-content: center;
        
    }
    
    .top-card{
        width: 800px;
        height: 350px;  
        padding: 8px;
        gap: 16px;
    }
    
    .image01{
        max-width: 500px;
    }
    
    .icons{
        display: flex;
        justify-content: end;
        gap: 16px;
        padding: 8px;
    }
    
    .icons>img{
        height: 50px;
        width: 50px;
    }
    
    .top-card>p{
        font-family: Ubuntu;
        color: #5f5f5f;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px){

    body{
        background-color: purple;
    }

    .top-image{
        min-width: 300px;
        min-height: 300px;
        justify-content: end;
    }

    .top-image>h2{
        margin-right: -250px;
    }


    .top-card{
        width: 400px;
        height: 175px;
    }

    .icons>img{
        width: 50px;
        height: 100px;
    }
    
}

@media screen and (max-width: 500px){
    /* body{
        background-color: red;
    } */
}

